#copy {
    color: #B3B3B3;
    font-size: 10px;
    font-family: 'proxima_novalight';
    float: right;
    padding-right: 7%;
    padding-top: 28px;
    height: 47px;

}
#social {
    float: left;
    height: 100%;
    padding-left: 8%;
    display: inline-block;
    
}

#social2 {
    float: left;
    height: 100%;
    padding-left: 10px;
    display: inline-block;
    
}

#socialtwitter {
    width: 38px;
    height: 38px;
    display:block;
    background: url('../images/social_twitter.svg')center top no-repeat;
}

#socialtwitter:hover {
    background: url('../images/social_twitter_hover.svg')center top no-repeat;
    transition: color .2s ease-in-out;
}
#socialbehance {
    clear: both;
    width: 38px;
    height: 38px;
    display:block;
    margin: 0 auto;
    background: url('../images/social_behance.svg')center top no-repeat;
}

#socialbehance:hover {
    background: url('../images/social_behance_hover.svg')center top no-repeat;
    transition: color .2s ease-in-out;
}