* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: solid 1px grey;*/
}

body {
    font-family: sans-serif;
    background-color: #c6e8fd;
}

.picture {
    width: 650px;
    height: auto;
    margin-left: calc(100vw / 2 - 325px);
}
.picture img{

    width: 650px;
    height: auto;

}
/*.anger {
  position: relative;
  top: 100px;
}*/
.question {
    font-family: "Rockwell" serif;
    text-align: center;
    font-size: 52px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.answer {
 border-radius: 10px;
  background-color: #4ab0f1;
  width: 650px;
  height: 100px;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.answer p {
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 100px;

}

.reveal {
   border-radius: 10px;
    background-color: #4ab0f1;
    width: 650px;
    height: 100px;
    z-index: -99;
    cursor: pointer;
    margin-bottom: 60px;
}

.description {
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 20px;

}
.container {
  position: relative;

}
.intro {
  font-size: 26px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  border-style: double;
  border-color: yellow;
  border-width: thick;
  margin-bottom: 20px;
}

h1{
  font-size: 36px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: #4ab0f1;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 20px;

}

h2{
  display: inline-block;
  padding: 15px;
  background-color: #4ab0f1;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  margin: 0 auto;
}
.button{
  background: #20c122;
  border-radius: 3px;
  width: 100px;
  height: 50px;
  font-size: 24px;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-left: calc(50vw - 50px);
  margin-bottom: 20px;
}
a {
  color: white;
  text-decoration: none;
}
