*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ScrollSceneIndicators { z-index: 99999 !important; }

.cf:after {
 content:"";
 display:table;
 clear:both;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  background: #F9F5F2;

}
.page {
  width: 100%;
  overflow: hidden;
}

.first {
  font-family: 'Rufina', serif;
  line-height: 1.1em;
  font-weight: 600;
  font-size: 76px;
  padding-right: 2px;
}
p:first-child {
  text-indent: 30px;
}
.wrapper{
  margin-top: 70px;
  margin-right: 7vw;
  margin-left: 7vw;
  z-index: -10;
}
.quote{
  position: absolute;
  left: 50vw;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
  top: 1090;
  text-align: center;
  font-family: 'Rufina', serif;
  line-height: 1.1em;
  font-weight: bold;
  font-size: 60px;
  color: #91c73d;
  width: 900px;
}

.quote2{
  position: absolute;
  left: 7vw;
  top: 1950;
  text-align: center;
  clear: both;
  font-family: 'Rufina', serif;
  line-height: 1.2em;
  font-weight: bold;
  font-size: 37px;
  color: #91c73d;
  width: 490px;
}


.titlebox{
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  color: #91c73d;
  font-size: 34px;
  font-weight: 400;
  padding-left: 5px;
  width: 150px;
  position: relative;
}
.titlebox span {
  font-size: 20px;
  font-weight: 300;
}
.leftbar{
  width: 7vw;
  height: 215px;
  background: #E04444;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -7vw;
}
.block{
  position: absolute;
  top: 1100px;
  left: 0;
  height: 700px;
  width: 100vw;
  background: #00BFD5;
}

.rightblock{
  background: #00BFD5;
  width: 630px;
  float: right;
  padding: 40px 40px 200px 40px;
  text-align: right;
  margin-bottom: 70px;
  z-index: -5;
}
.rightblock h3{
font-family: 'Rufina', serif;
line-height: 1.1em;
  text-indent: -25px;
  font-size: 46px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}
.rightblock > span{
  font-family: 'Rufina', serif;
  line-height: 1.1em;
  font-size: 20px;
  font-weight: lighter;
}

.redbox{
  position: absolute;
  left: 50vw;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
  top: 30vh;
  font-family: 'Source Sans Pro', sans-serif;
  width: 610px;
  text-align: left;
  background: #E04444;
  padding: 60px 40px 40px 40px;
  line-height: 1.7em;
  margin-bottom: 100px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.redbox p{
  color: #ffffff;
  padding-bottom: 40px;
}

p{
  color: #ffffff;
  padding-bottom: 40px;
}
.border{
  /*border: solid 1px #ffffff;
  padding: 15px;*/
}


#trigger1{

}

#letters{
  color: #91C73D;
  font-family: 'Rufina', serif;
  line-height: 1.1em;
  font-size: 322px;
  position: absolute;
  bottom: 0;
  margin-left: -1000px;
  left: -500px;
  z-index: -100;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax_group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*.parallax_group {
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}*/

.parallax_object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_3 {
  -webkit-transform: translateZ(1) scale(-2);
          transform: translateZ(1) scale(-2);
  z-index: 1;
}

.parallax_1a {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: -5;
}
.parallax_1 {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 1;
}
.parallax_2 {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
          z-index: 10;

}
.parallax_0 {
  -webkit-transform: translateZ(-2px) scale(3);
          transform: translateZ(-2px) scale(3);
  z-index: -10;
}

.parallax_6 {
  -webkit-transform: translateZ(-3px) scale(4);
          transform: translateZ(-3px) scale(4);
  z-index: -30;
}

.parallax_1b {
  -webkit-transform: translateZ(1px) scale();
          transform: translateZ(1px) scale();
  z-index: 10;
}

.group1{
  z-index: -10;
}
.group2{
  z-index: 10;
}
.group3{
  z-index: 5;
}

.wrapper2{
  position: relative;
  background: #00BFD5;
  margin-top: 120px;
}
.centerredbox{
  position: absolute;
  top: 1300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1.7em;
  background: #E04444;
  width: 612px;
  margin: 0 auto;
  padding: 60px 40px 60px 40px;
  margin-bottom: 60px;
}
.centerredbox p{
  color: #ffffff;
  padding-bottom: 40px;
  /*padding-top: 100px;*/
}


.car{
  position: absolute;
  left: 60vw;
  top: 7600px;
  width: 600px;
  height: auto;
}

.mac {
  position: absolute;
  z-index: 10;
  top: 3100px;
  left: 50vw;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);

}
.clock {
  position: absolute;
  right: 10vw;
  top:4000px;
  z-index: 10;
  height: 500px;
  width: auto;
}

.stopwatch{
  position: absolute;
  left: 15vw;
  top:8200px;
  z-index: 10;
  height: 100px;
  width: auto;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.redbox2{
  position: absolute;
  top: 3150px;
  right: 7vw;

  line-height: 1.7em;
  width: 612px;

  padding: 60px 40px 60px 40px;
  margin-bottom: 60px;
  background: #00BFD5;
}

.redbox2 p {
  color: #ffffff;
  padding-bottom: 40px;
}

.whitetext{
  position: absolute;
  top: 3500px;
  left: 7vw;
  /*transform: translateX(-50%);*/
  line-height: 1.7em;
  width: 612px;
  margin: 0 auto;
  z-index: 15;
  padding: 60px 40px 60px 40px;
  margin-bottom: 60px;
}


.block2{
  position: absolute;
  line-height: 1.7em;
  top: 2600px;
  left: 0;
  height: 700px;
  width: 100vw;
  background: #00BFD5;
}

.block3{
  position: absolute;
  line-height: 1.7em;
  top: 2100px;
  left: 0;
  height: 800px;
  width: 100vw;
  background: #91c73d;
}

.colorblock1{
  position: absolute;
  top: 7500px;
  left: 0;
  line-height: 1.7em;
  width: 100%;
  margin: 0 auto;
  z-index: 15;
  margin-bottom: 60px;
  background: #00BFD5;
    /*box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);*/
}

.blockchild {
  width: 612px;
  margin: 0 auto;
  padding: 60px 40px 60px 40px;
}


.colorblock2{
  position: absolute;
  top: 4700px;
  right: 7vw;
  line-height: 1.7em;
  width: 612px;
  margin: 0 auto;
  z-index: 15;
  padding: 60px 40px 60px 40px;
  margin-bottom: 60px;
  background: #E04444;
}
.colorblock2 > p{
  color: #ffffff;
}

.colorblock3{
  position: absolute;
  top: 10500px;
  left: 7vw;
  line-height: 1.7em;
  width: 612px;
  margin: 0 auto;
  z-index: 15;
  padding: 60px 40px 60px 40px;
  margin-bottom: 60px;
  background: #00BFD5;
}

.uparrow{
  position: absolute;
  top: 11080px;
  right: 7vw;
  height: 30px;
  width: auto;
}

.line{
  width: 100%;
  border-bottom: solid 1px #ffffff;

}
#trigger2 {
  position: absolute;
  top: 1400px;
}
#car {
  position: absolute;
  z-index: -5;
    top: 1980;
  right: -200px;
}

#trigger3{
  position: absolute;
  top: 2200px;
}

#train{
  position: absolute;
  z-index: -6;
  left: -800px;
  top: 2498px;
}
