* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: 'roboto', sans-serif;
}

.splash {
  width: 100vw;
  min-height: 100vh;
  background: url(../images/front_splash.jpg) center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 90px 100px 50px 100px;
  position: relative;
}

@media (max-width: 500px) {
  .splash {
    padding: 20vw 5vw;
  }
}

.splash:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(12, 12, 12, 0.1);
  content: '';
}

.splash div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 140px);
  z-index: 9;
}

.splash div:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splash div:first-child h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1em;
  text-transform: capitalize;
}

.splash div:first-child h1 span {
  display: table;
  background-color: coral;
  padding-right: 1em;
}

.splash div:first-child ul li {
  font-weight: 200;
}

.splash div:first-child ul li a {
  color: white;
  text-decoration: none;
  line-height: 1.8em;
}

.splash div:first-child ul li a:hover {
  color: coral;
}

.splash div:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.splash div:last-child a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.3em;
  display: inline-block;
}

.splash div:last-child a .span3 {
  padding-right: 1em;
  padding-left: .1em;
  z-index: 9;
  display: table;
  position: relative;
}

.splash div:last-child a .span3:before {
  border-left: solid coral 0;
  position: absolute;
  z-index: -1;
  content: '';
  left: 0;
  top: 2px;
  height: 35px;
  width: 100px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.splash div:last-child a:hover .span3:before {
  border-left: solid coral 100px;
  position: absolute;
  z-index: -1;
  content: '';
  left: 0;
  top: 2px;
  height: 35px;
  width: 100px;
}

.wrapper {
  width: 90vw;
  max-width: 1024px;
  margin: 100px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper h2 {
  font-size: 58px;
  line-height: 1.3em;
  display: inline-block;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.wrapper .column1 {
  position: fixed;
  top: 100px;
  z-index: -1;
  width: 60%;
}

@media (max-width: 900px) {
  .wrapper .column1 {
    position: relative;
    top: 0;
    margin-bottom: 30px;
  }
}

.wrapper .column1 .title {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.wrapper .column1 .highlight {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.wrapper .column2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper .column2 .link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: 200;
  position: absolute;
  left: 0;
  top: calc(100vh - 200px);
  z-index: 9;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
  padding-left: .1em;
}

@media (max-width: 900px) {
  .wrapper .column2 .link {
    position: relative;
    top: -400px;
  }
}

.wrapper .column2 .link:hover {
  color: white;
}

.wrapper .column2 .link:before {
  border-left: solid coral 0;
  position: absolute;
  z-index: -1;
  content: '';
  left: 0;
  top: 2px;
  height: 35px;
  width: 100px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.wrapper .column2 .link:hover:before {
  border-left: solid coral 100px;
  position: absolute;
  z-index: -1;
  content: '';
  left: 0;
  top: 2px;
  height: 35px;
  width: 100px;
}

.wrapper .column2 .link_disolve {
  opacity: 0;
}

.wrapper .column2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 180px;
  position: relative;
}

@media (max-width: 500px) {
  .wrapper .column2 ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .column2 ul li div {
  background-color: coral;
  position: absolute;
  color: white;
  padding: 1em;
  top: 98%;
  right: -17px;
  font-size: 24px;
  font-weight: 300;
  border-radius: 3px;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.02), 0 3.3px 17.9px rgba(0, 0, 0, 0.02), 0 10px 13.4px rgba(0, 0, 0, 0.02), 0 13px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.02), 0 3.3px 17.9px rgba(0, 0, 0, 0.02), 0 10px 13.4px rgba(0, 0, 0, 0.02), 0 13px 15px rgba(0, 0, 0, 0.03);
  max-width: 440px;
  z-index: 99;
}

.wrapper .column2 ul li div span {
  font-weight: 500;
}

.wrapper .column2 ul li div p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5em;
}

@media (max-width: 400px) {
  .wrapper .column2 ul li div {
    right: 0;
  }
}

.wrapper .column2 ul li img {
  width: 60%;
  height: auto;
}

.wrapper .column2 ul li .small {
  width: 50%;
}

.wrapper .column2 ul li .large {
  width: 70%;
}

.wrapper .column2 ul li .xlarge {
  width: 80%;
}

.wrapper .column2 ul li .full {
  width: 100%;
}

@media (max-width: 500px) {
  .wrapper .column2 ul li .large,
  .wrapper .column2 ul li .xlarge,
  .wrapper .column2 ul li .small,
  .wrapper .column2 ul li img {
    width: 100%;
  }
}

.wrapper .column2 ul .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .column2 ul .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .column2 ul .left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .column2 ul .between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=style.css.map */