* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --black: #141414;
  --grey: #919191;
  --lightgrey: #D9D9D9;
  list-style-type: none;
}

body {
  font-family: 'Gelasio', serif;
  color: var(--black);
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: auto;
  height: auto;
}

h1 {
  font-family: 'jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

h2 {
  font-family: 'jost', sans-serif;
  font-size: 68px;
  font-weight: 300;
  line-height: 1.1em;
  margin-bottom: 36px;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  h2 {
    font-size: 10vw;
  }
}

h2 span {
  font-family: 'Gelasio', serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--grey);
  display: block;
  margin-top: 38px;
  line-height: 1.6em;
}

h3 {
  font-size: 13px;
  line-height: 1.5em;
  color: var(--grey);
  text-transform: uppercase;
  position: relative;
}

h3::after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(orange), to(pink));
  background: linear-gradient(to right, orange, pink);
  height: 3px;
  width: 40px;
  left: 93px;
  bottom: -8px;
}

.bottom_border {
  width: 160px;
  border-bottom: solid 1px var(--grey);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 250px;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 160px;
}

@media (max-width: 650px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
  }
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 650px) {
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header ul li {
  margin-right: 10px;
}

header ul li:last-child {
  margin-right: 0;
}

header ul .selected {
  color: var(--grey);
}

.work {
  width: 100%;
  position: relative;
}

.work .work_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.work .work_wrapper .vertical_photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .work .work_wrapper .vertical_photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work .work_wrapper .vertical_photos > img {
  width: 48%;
  height: auto;
}

@media (max-width: 650px) {
  .work .work_wrapper .vertical_photos > img {
    width: 100%;
  }
  .work .work_wrapper .vertical_photos > img:first-child {
    margin-bottom: 80px;
  }
}

.work .work_wrapper .horizontal_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .work .work_wrapper .horizontal_work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work .work_wrapper .horizontal_work .big_column {
  width: 60%;
}

@media (max-width: 650px) {
  .work .work_wrapper .horizontal_work .big_column {
    width: 100%;
    margin-bottom: 30px;
  }
}

.work .work_wrapper .horizontal_work .half_column {
  max-width: 600px;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .work .work_wrapper .horizontal_work .half_column {
    margin-left: 0;
  }
}

.work .work_wrapper .horizontal_work .half_column > img {
  width: auto;
}

.work .work_wrapper .horizontal_work .small_column {
  max-width: calc(40% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 650px) {
  .work .work_wrapper .horizontal_work .small_column {
    max-width: 100%;
  }
}

.work .work_wrapper .horizontal_work .small_column > img {
  max-width: calc((100% - 30px) / 2);
  width: auto;
}

@media (max-width: 650px) {
  .work .work_wrapper .horizontal_work .small_column > img {
    margin-bottom: 30px;
  }
}

.work .work_wrapper .horizontal_work .single > img {
  max-width: 100%;
}

.work .work_wrapper .horizontal_work .stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .work_wrapper .horizontal_work .stacked > img {
  max-width: 100%;
}

.work .work_wrapper .horizontal_work .stacked > img:first-child {
  margin-bottom: 30px;
}

.work .work_wrapper .three {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .work .work_wrapper .three {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.work .work_wrapper .three > img {
  max-height: 560px;
  width: auto;
  max-width: calc((100% - 30px) / 3);
  height: auto;
}

.divider {
  width: 60px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(pink));
  background: linear-gradient(to right, orange, pink);
  margin: 140px auto 160px auto;
}

.bottom {
  margin-bottom: 100px;
}

.center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.width {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.margin_bottom_sm {
  margin-bottom: 8px;
}

.margin_bottom_md {
  margin-bottom: 80px;
}

.text_right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 20px;
  margin-left: 0;
}

.small_image {
  max-height: 330px;
  width: auto;
}

.full_width {
  width: 100%;
  height: auto;
}

.half_width {
  width: 48%;
  height: auto;
}

@media (max-width: 650px) {
  .half_width {
    width: 100%;
  }
  .half_width:first-child {
    margin-bottom: 80px;
  }
}

a {
  text-decoration: none;
  color: var(--black);
  position: relative;
  padding: .4em .6em 0 .6em;
  border-radius: 15px 15px 0 0;
}

a:hover {
  background: var(--black);
  color: white;
}

a:after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(orange), to(pink));
  background: linear-gradient(to right, orange, pink);
  height: 3px;
  width: 40px;
  right: 0;
  bottom: -8px;
  display: none;
}

a:hover::after {
  display: block;
}
/*# sourceMappingURL=style.css.map */