* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --black: #141414;
    --grey: #919191;
    --lightgrey: #D9D9D9;
    list-style-type: none;
}

body {
    // font-family: freight-text-pro, serif;
    font-family: 'Gelasio', serif;
    color: var(--black);
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    width: auto;
    height: auto;
}

h1 {
    font-family: 'jost', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: .4em .6em 0 .6em;
}

h2 {
    font-family: 'jost', sans-serif;
    font-size: 68px;
    font-weight: 300;
    line-height: 1.1em;
    margin-bottom: 36px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--grey);

    @media(max-width:650px) {
        font-size: 10vw;
    }

    span {
        font-family: 'Gelasio', serif;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--grey);
        display: block;
        margin-top: 16px;
        line-height: 1.6em;
    }
}

h3 {
    font-size: 13px;
    line-height: 1.5em;
    color: var(--grey);
    text-transform: uppercase;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background: linear-gradient(to right, orange, pink);
        height: 3px;
        width: 40px;
        left: 93px;
        bottom: -8px;

    }
}

.bottom_border {
    width: 160px;
    border-bottom: solid 1px var(--grey);
}

header {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 160px;

    @media(max-width:650px) {
        align-items: center;
        padding-top: 80px;
    }


    >div {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-family: 'jost', sans-serif;
        font-size: 20px;
        font-weight: 300;

        @media(max-width:650px) {
            flex-direction: column;
            align-items: flex-start;
        }

        li {
            margin-right: 10px;

            a{
            padding: .4em .6em 0 .6em;
            }

            &:last-child {
                margin-right: 0;
            }

        }

        .selected {
            color: var(--grey);
            padding: 0em .6em 0 .6em;
        }
    }
}

.work {
    width: 100%;
    position: relative;

    // &::after {
    //     position: absolute;
    //     z-index: -1;
    //     content: '';
    //     background-color: var(--lightgrey);
    //     height: 300px;
    //     width: 100vw;
    //     top: 100px;
    //     left: 0;
    //     right: 0;
    // }

    .work_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: 1200px;
        margin: 0 auto;

        .vertical_photos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media(max-width:650px) {
                flex-direction: column;
            }

            >img {
                width: 48%;
                height: auto;

                @media(max-width:650px) {
                    width: 100%;

                    &:first-child {
                        margin-bottom: 80px;
                    }
                }
            }
        }

        .horizontal_work {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media(max-width:650px) {
                flex-direction: column;
            }

            p {
                // max-width: 550px;
            }


            .big_column {
                width: 60%;

                @media(max-width:650px) {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            .half_column {
                max-width: 600px;
                margin-left: 20px;

                @media(max-width:650px) {
                    margin-left: 0;
                }

                >img {
                    width: auto;
                }
            }

            .small_column {
                max-width: calc(40% - 30px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                @media(max-width:650px) {
                    max-width: 100%;
                }

                >img {
                    max-width: calc((100% - 30px) / 2);
                    width: auto;

                    @media(max-width:650px) {
                        margin-bottom: 30px;
                    }
                }
            }

            .single {
                >img {
                    max-width: 100%;

                }
            }

            .stacked {
                flex-direction: column;

                >img {
                    max-width: 100%;

                    &:first-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .three {
            justify-content: space-between;

            @media(max-width:650px) {
                flex-direction: row;
            }

            >img {
                max-height: 560px;
                width: auto;
                max-width: calc((100% - 30px) / 3);
                height: auto;
            }
        }
    }
}


.divider {

    width: 60px;
    height: 3px;
    background: linear-gradient(to right, orange, pink);
    // border-bottom: 6px solid var(--lightgrey);
    margin: 140px auto 160px auto;
}

.bottom {
    margin-bottom: 100px;
}

.center {
    align-self: center;
}

.width {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
}

.margin_bottom_sm {
    margin-bottom: 8px;
}

.margin_bottom_md {
    margin-bottom: 80px;
}

.text_right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 0;
}

.small_image {
    max-height: 330px;
    width: auto;
}

.full_width {
    width: 100%;
    height: auto;
}

.half_width {
    width: 48%;
    height: auto;

    @media(max-width:650px) {
        width: 100%;

        &:first-child {
            margin-bottom: 80px;
        }
    }
}

a {
    text-decoration: none;
    color: var(--black);
    position: relative;
    border-radius: 15px 15px 0 0;


    &:hover {
        background: var(--black);
        color: white;
    }

    &:after {
        position: absolute;
        content: '';
        background: linear-gradient(to right, orange, pink);
        height: 3px;
        width: 40px;
        right: 0;
        bottom: -8px;
        display: none;
    }

    &:hover::after {
        display: block;
    }
}